/* Center the content inside the root element */
#root {
  text-align: center;
  transition: background-color 0.5s;
}

/* Header styles */
header {
  box-shadow: #444 0px 2px 4px;
  color: white;
  background-image: linear-gradient(to right, #39dcb9, #90dc39);
  padding: 30px 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 24px;
  gap: 20px;
  transition: box-shadow 0.4s, background-image 0.6s;
}

/* Logo image inside header */
header>img {
  width: 60px;
  margin-right: 15px;
  transition: transform 0.4s;
}

/* Animate header title and ALL image on load */
header>h1,
header>img {
  animation: headerDropDown 1s ease;
}

/* Keyframes for header drop down animation */
@keyframes headerDropDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Footer styles */
footer {
  position: fixed;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: #444 0px -2px 4px;
  padding: 30px 0;
  background-image: linear-gradient(to right, #90dc39, #39dcb9,);
  z-index: 1000;
  transition: box-shadow 0.4s, background-image 0.6s;
}

/* Animate footer text on load */
footer>small {
  animation: footerFlowUp 1.2s ease;
}

/* Keyframes for footer flow up animation */
@keyframes footerFlowUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Price text styles */
.count-number {
  margin: 0 10px;
  font-size: 16px;
  width: 30px;
  display: inline-block;
  text-align: center;
}

/* Keyframes for drop down animation */
@keyframes dropDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.total-cost {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: #333;
  background-color: lightgreen;
  padding: 10px;
  border: 2px solid #39dcb9;
  border-radius: 10px;
}